:root {
  --blanco:#ffffff;
  --oscuro:#212121;
  --primary:#FFA41B;
  --secondary:#F86F03;
  --tertiary:#525FE1;
  --quaternary:#FFF6F4;
}

html {
  font-size: 65.5%;
}

body {
  font-family:'Krub', sans-serif;
  font-size: 16px;  /*1rem = 10px */
}

.titulo {
align-items: center;
font-size: 3.8rem;


}

.titulo span {
  font-size: 2rem;
}
.container{
  width: 120rem;
  margin: 0 auto;
}

.nav-bg{
  background-color: var(--tertiary);
}
.main-nav{
  display: flex;
  justify-content: space-between;
}

.main-nav a {
  color: var(--blanco);
  text-decoration: none;
  font-size: 2rem;
  font-weight: 400;
  padding: 1rem;
}

.main-nav a:hover {
  background-color: var(--primary);
  color: var(--oscuro);
}
