:root {
  --blanco:#ffffff;
  --oscuro:#212121;
  --primary:#FFA41B;
  --secondary:#F86F03;
  --tertiary:#525FE1;
  --quaternary:#FFF6F4;
}

html {
  font-size: 65.5%;
}

body {
   font-size: 16px;  /*1rem = 10px */
}

h1 {
align-items: center;
font-size: 3.8rem;
font-family:'Krub', sans-serif;
}

.titulo span {
  font-size: 2rem;
}
